<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>Todoit | Sign Up | Register</title>
</head>
<body>
    <header>
        <nav>
            <h4>Todoit</h4>
            <a href="#">Login</a>
        </nav>
    </header>
    <main>
        <form action="/auth/signup" method="POST">
            <fieldset>
                <legend>Sign Up</legend>
                <label>Username</label>
                <input type="text" name="username" id="username">
                <label>Password</label>
                <input type="password" name="password" id="password">
                <label>Email</label>
                <input type="email">
                <button type="submit">Sign Up</button>
            </fieldset>
        </form>
    </main>
    
</body>
</html>