body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

header {
    background-color: #E44232;
    height: 60px;
}

.modal-content {
    border: 5px solid #E44232;
}

.modal-body {
    display: flex;
    align-items: center;
    padding: 20px;
}

.modal-body p {
    margin: 0px;
}

legend {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    width: 85%;
    color: white;
}

main {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 65%;
}

form {
    display: flex;
    align-items: center;
    height: 400px;
    width: 400px;
}

fieldset {
    display: flex;
    justify-content: center;
}

.register button {
    margin: 0 auto;
    margin-top: 20%;
}



.btn {
    background-color: #E44232;
    border: none;
    color: white;
}

