body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

header {
    background-color: #E44232;;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100px;
    width: 85%;
    color: white;
}

main {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register {
    display: flex;
    justify-content: center;
    width: 45%;
    margin-bottom: 15%;
}

form {
    display: flex;
    align-items: center;
    border: 5px solid #E44232;
    height: 400px;
    width: 400px;

}

fieldset {
    display: flex;
    justify-content: center;
}

.register button {
    margin: 10px auto;
}

.btn {
    background-color: #E44232;
    border: none;
    color: white;
}

