header {
    background-color: #DB4C3F;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
}


.grid {
    display: grid;
    grid-template-columns: 3fr 4fr 2fr;
    grid-template-rows: 1fr;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 1;
    background-color: #FAFAFA;
    height: 100vh;
}

.right {
    background-color: #FFFFFF;
}

.right-wrapper {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addTodoDiv {
    width: 100%;
    display: flex;
    justify-items: flex-start;
}

.right-wrapper h4 {
    align-self: flex-start;
    margin-left: 1%;
    margin-top: 5%;
}

.todos {
    grid-column-start: 2;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5%;
}

input {
    width: 50%;
}

.todoHandler {
    display: flex;
    align-items: center;
    margin-top: 0.5%;
}

