header {
    background-color: #DB4C3F;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

button {
    background-color:  #DB4C3F;
    color: white;
    border: none;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #FAFAFA;
}

nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
}


.grid {
    display: grid;
    grid-template-columns: 3fr 4fr 2fr;
    grid-template-rows: 1fr;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-column-start: 1;
    background-color: #FAFAFA;
    height: 100vh;
}

.right {
    background-color: #FFFFFF;
}

.right-wrapper {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.addTodoDiv {
    position: absolute;
    top: 75px;
    left: 2%;
    width: 30%;
    display: flex;
    justify-items: flex-start;
    justify-content: space-around;
    align-items: center;
}

.addTodoDiv button {
    background-color: #DB4C3F;
    border: none;
    color: white;
}

.right-wrapper h4 {
    align-self: flex-start;
    margin-left: 1%;
    margin-top: 5%;
}

.todos {
    margin-top: 15%;
    grid-column-start: 2;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    margin-top: 10%;

}

.todoHolder {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.date {
    display: flex;
    justify-content: space-between;
}

.fa-calendar {
    margin-left: 15%;
}

.date-dropdown {
    display: flex;
    align-items: center;
}

.description {
    max-width: 60%;
    margin-left: 2%;
    border: none;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

i {
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5%;
}

.insane {
    margin: 0px;
    padding: 0px;
}



input {
    width: 50%;
}

.todoHandler {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.todoHandler button {
    width: 50%;
    text-align: center;
    height: 30px;
    border: 1px solid black;
}

.todo-creator {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

.show {
    display: flex;
}

.hiddenForm {
    display: none;
}

.shownForm {
    border: 5px solid red;
    display: flex;
    height: 30px;
    margin: 0px;
    width: 100%;
    justify-content: space-between;
}

.shownForm input {
    width: 100%;
}

.shownForm button {
    padding: 0px;
    margin: 0px;
    background: transparent;
    width: 30px;
    height: 30px;
    color: black;
}

.dropdown button {
    background-color: #DB4C3F;
    border: none;
    border-radius: 0px;
}

.dropdown-item button {
    background-color: inherit;
}

.edit-input {
    justify-self: flex-start;
    border: none;
}

.dropdown-menu button {
    background-color: inherit;
}


